table {
  width: 100%;
}

.status {
  font-weight: 500;
  padding: 4px 8px;
  border-radius: 4px;
  display: inline-block;
}

.status-pending {
  background-color: #ffe082;
  color: #795548;
}

.status-shipping {
  background-color: #81d4fa;
  color: #01579b;
}

.status-delivered {
  background-color: #a5d6a7;
  color: #1b5e20;
}

.status-cancelled {
  background-color: #ef9a9a;
  color: #b71c1c;
}
