<div class="ps-page--single" id="contact-us">
    <div class="ps-breadcrumb">
        <div class="container">
            <ul class="breadcrumb">
                <li><a [routerLink]="['/home']">Trang chủ</a></li>
                <li>Liên hệ</li>
            </ul>
        </div>
    </div>
    <div class="ps-contact-map">
        <!-- Bản đồ Hà Nội - Khu vực Hoàn Kiếm -->
        <iframe
            src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3724.096949692498!2d105.85194637607142!3d21.028825380620865!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3135ab953357c995%3A0x1babf6bb474f35c0!2zTmjDoCBow6F0IGzhu5tuIEjDoCBO4buZaQ!5e0!3m2!1svi!2s!4v1704067200000!5m2!1svi!2s"
            height="500" style="border:0; width: 100%;" allowfullscreen="" loading="lazy"
            referrerpolicy="no-referrer-when-downgrade"></iframe>
    </div>
    <div class="ps-contact-info">
        <div class="container">
            <div class="ps-section__header">
                <h3>Liên hệ với chúng tôi khi có bất kỳ thắc mắc nào</h3>
            </div>
            <div class="ps-section__content">
                <div class="row">
                    <div class="col-xl-4 col-lg-4 col-md-4 col-sm-6 col-12 ">
                        <div class="ps-block--contact-info">
                            <h4>Liên hệ trực tiếp</h4>
                            <p>
                                <a href="mailto:contact@JUSTINshop.vn">contact@JUSTINshop.vn</a>
                                <span>Hotline: 1900 6868 99</span>
                            </p>
                        </div>
                    </div>
                    <div class="col-xl-4 col-lg-4 col-md-4 col-sm-6 col-12 ">
                        <div class="ps-block--contact-info">
                            <h4>Trụ sở chính</h4>
                            <p>
                                <span>Số 123, Phố Huế, Quận Hai Bà Trưng</span>
                                <span>Hà Nội, Việt Nam</span>
                            </p>
                        </div>
                    </div>
                    <div class="col-xl-4 col-lg-4 col-md-4 col-sm-6 col-12 ">
                        <div class="ps-block--contact-info">
                            <h4>Làm việc cùng chúng tôi</h4>
                            <p>
                                <span>Gửi CV của bạn đến email:</span>
                                <a href="mailto:tuyendung@JUSTINshop.vn">tuyendung@JUSTINshop.vn</a>
                            </p>
                        </div>
                    </div>
                    <div class="col-xl-4 col-lg-4 col-md-4 col-sm-6 col-12 ">
                        <div class="ps-block--contact-info">
                            <h4>Chăm sóc khách hàng</h4>
                            <p>
                                <a href="mailto:cskh@JUSTINshop.vn">cskh@JUSTINshop.vn</a>
                                <span>Hotline: 1900 6868 88</span>
                            </p>
                        </div>
                    </div>
                    <div class="col-xl-4 col-lg-4 col-md-4 col-sm-6 col-12 ">
                        <div class="ps-block--contact-info">
                            <h4>Giờ làm việc</h4>
                            <p>
                                <span>Thứ 2 - Thứ 6: 8:00 - 21:00</span>
                                <span>Thứ 7 - Chủ nhật: 9:00 - 18:00</span>
                            </p>
                        </div>
                    </div>
                    <div class="col-xl-4 col-lg-4 col-md-4 col-sm-6 col-12 ">
                        <div class="ps-block--contact-info">
                            <h4>Hỗ trợ đối tác</h4>
                            <p>
                                <a href="mailto:doitac@JUSTINshop.vn">doitac@JUSTINshop.vn</a>
                                <span>Tel: (024) 3974 5678</span>
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="ps-contact-form">
        <div class="container">
            <form class="ps-form--contact-us">
                <h3>Gửi tin nhắn cho chúng tôi</h3>
                <div class="row">
                    <div class="col-xl-6 col-lg-6 col-md-6 col-sm-12 col-12 ">
                        <div class="form-group">
                            <input class="form-control" type="text" placeholder="Họ và tên *">
                        </div>
                    </div>
                    <div class="col-xl-6 col-lg-6 col-md-6 col-sm-12 col-12 ">
                        <div class="form-group">
                            <input class="form-control" type="email" placeholder="Email *">
                        </div>
                    </div>
                    <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12 ">
                        <div class="form-group">
                            <input class="form-control" type="text" placeholder="Số điện thoại">
                        </div>
                    </div>
                    <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12 ">
                        <div class="form-group">
                            <input class="form-control" type="text" placeholder="Tiêu đề *">
                        </div>
                    </div>
                    <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12 ">
                        <div class="form-group">
                            <textarea class="form-control" rows="5" placeholder="Nội dung tin nhắn *"></textarea>
                        </div>
                    </div>
                </div>
                <div class="form-group submit">
                    <button class="ps-btn">Gửi tin nhắn</button>
                </div>
            </form>
        </div>
    </div>
</div>
<div class="ps-newsletter">
    <div class="container">
        <form class="ps-form--newsletter" action="#">
            <div class="row">
                <div class="col-xl-5 col-lg-12 col-md-12 col-sm-12 col-12 ">
                    <div class="ps-form__left">
                        <h3>Bản tin</h3>
                        <p>Đăng ký để nhận thông tin về sản phẩm mới và khuyến mãi hấp dẫn</p>
                    </div>
                </div>
                <div class="col-xl-7 col-lg-12 col-md-12 col-sm-12 col-12 ">
                    <div class="ps-form__right">
                        <div class="form-group--nest">
                            <input class="form-control" type="email" placeholder="Địa chỉ Email của bạn">
                            <button class="ps-btn">Đăng ký</button>
                        </div>
                    </div>
                </div>
            </div>
        </form>
    </div>
</div>